:root {
  /* neutrals */
  --neutral-dark-zeus: #1E1B15;
  --neutral-light-alabaster: #F8F8F7;
  --neutral-beige-oyster: #E8E3D5;

  /* vibrant */
  --vibrant-red-vermilion: #FF4306;
  --vibrant-yellow-turbo: #F5EC00;
  --vibrant-orange-salmon: #FF8A73;
  --vibrant-blue-santorini: #0464D4;
  --vibrant-orange-tangerine:#EE9600;

  /* light colors */
  --light-red-vanillaice: #F4DEDC;
  --light-green-mint: #A1EDC3;
  --light-yellow-beeswax: #FDEBC4;

  /* "muted" = easy on the eyes shades */
  --normal-red-japonica: #DC7A67;
  --normal-green-jade: #00615C;
  --normal-blue-blizzardblue: #b6e0F2;
  --normal-orange-terracotta:  #DF855C;


  /* dark colors */
  --dark-red-tuscany: #B15331;
  --dark-blue-deepsapphire: #062665;
  --dark-green-sherwoodforest: #023630;
  --dark-yellow-goldengrass: #D7A526;
}

/* layout:header, content, footer */

body {
  background-color: var(--neutral-light-alabaster) !important;
  color: var(--neutral-dark-zeus);
}
.header, nav {
  width: 100% !important;
}

.victoria {
  font-family: 'Oi', 'Ultra', serif !important;
  color: var(--neutral-dark-zeus) !important;
  font-size: 2rem;
}

h2, h3, h4 {
  font-family: 'Bebas Neue', 'Ultra', serif !important;
  color: var(--vibrant-red-vermilion) !important;
}

.card-header {
  font-family: 'Bebas Neue', 'Ultra', serif !important;
}

nav, footer.footer {
  margin: 3rem;
}

footer {
  background-color: var(--neutral-light-alabaster);
}

span.social {
  margin: 1rem !important;
}

/* Links */

a {
  text-decoration: none !important;
  color: var(--dark-red-tuscany) !important;
}

a:hover {
  color: var(--vibrant-red-vermilion) !important;

}

/* HEADERS */
.panel-heading {
  background-color: var(--vibrant-blue-santorini)!important;
}


/* project cards */
.card {
  margin-bottom: 3rem;
}

.title, .description {
  padding: 0rem 1rem;
}

button.view {

}