:root {
  /* neutrals */
  --neutral-dark-zeus: #1E1B15;
  --neutral-light-alabaster: #F8F8F7;
  --neutral-beige-oyster: #E8E3D5;

  /* vibrant */
  --vibrant-red-vermilion: #FF4306;
  --vibrant-yellow-turbo: #F5EC00;
  --vibrant-orange-salmon: #FF8A73;
  --vibrant-blue-santorini: #0464D4;
  --vibrant-orange-tangerine:#EE9600;

  /* light colors */
  --light-red-vanillaice: #F4DEDC;
  --light-green-mint: #A1EDC3;
  --light-yellow-beeswax: #FDEBC4;

  /* "muted" = easy on the eyes shades */
  --normal-red-japonica: #DC7A67;
  --normal-green-jade: #00615C;
  --normal-blue-blizzardblue: #b6e0F2;
  --normal-orange-terracotta:  #DF855C;


  /* dark colors */
  --dark-red-tuscany: #B15331;
  --dark-blue-deepsapphire: #062665;
  --dark-green-sherwoodforest: #023630;
  --dark-yellow-goldengrass: #D7A526;
}

/* layout:header, content, footer */

body {
  background-color: var(--neutral-light-alabaster) !important;
  color: var(--neutral-dark-zeus);
}

header  {
  background-color: var(--neutral-beige-oyster) !important;
}

.herobackground {
  border-bottom: 4px double var(--neutral-dark-zeus) !important;
  margin-bottom: 3rem !important;
}

section {
  padding-top: 1rem;
  border-top: 4px double var(--neutral-dark-zeus) !important;
}

button, a.navlink {
  background-color: var(--vibrant-orange-salmon)!important;
  color: var(--light-red-vanillaice) !important;
  border: 2px solid var(--neutral-dark-zeus) !important;
  margin-right: .25rem;
}

button, a.navlink:hover {
  background-color: var(--light-green-mint)!important;
  color: var(--dark-green-sherwoodforest) !important;
}

.victoriatitle {
  font-family: 'Oi', 'Ultra', serif !important;
  color: var(--neutral-dark-zeus) !important;
  font-size: 2rem;
}

.victoriasubtitle {
  font-family: 'Bebas Neue', 'Ultra', serif !important;
  color: var(--vibrant-red-vermilion) !important;
}

.card-header {
  font-family: 'Bebas Neue', 'Ultra', serif !important;
}

/*nav, footer.footer {
  margin: 3rem;
}*/

footer {
  background-color: var(--neutral-light-alabaster);
}

span.social {
  margin: 1rem !important;
}

/* Links */

a {
  text-decoration: none !important;
  color: var(--dark-red-tuscany) !important;
}

a:hover {
  color: var(--vibrant-red-vermilion) !important;

}


/* project boxes */
.projectcol {
    margin-right: !important;
}
